* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #2e3a49;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide {
  display: none !important;
}
.container {
  background-color: #45576f;
  padding: 40px;
  border: 1px solid #ffff;
  border-radius: 10px;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputs-container {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}
.inputs-container label {
  margin-top: 10px;
}
#height {
  height: 50px;
  width: 300px;
  margin: 5px 0 10px 0;
}
#weight {
  height: 50px;
  width: 300px;
  margin: 5px 0 10px 0;
}
.buttons-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.buttons-container button {
  border: none;
  color: #fff;
  cursor: pointer;
  height: 45px;
  width: 140px;
  opacity: 0.9;
  border-radius: 5px;
}
.buttons-container button:hover {
  opacity: 1;
}
#calc-btn {
  background-color: #0011ff;
}
#clear-btn {
  background-color: #3c3a3a;
}
.result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.result h1 {
  margin-bottom: 10px;
}
.ranking-container h3 {
  margin-bottom: 20px;
}
.ranks-header {
  display: flex;
  justify-content: center;
  font-size: small;
  margin-bottom: 10px;
}
.imc-table {
  font-size: small;
}
.table-data {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  text-align: center;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #abaaaa;
}
.table-data p {
  width: 33.33%;
  margin: 0;
}
.ranks-header h4:nth-child(2) {
  margin-left: 50px;
}
.ranks-header h4:nth-child(3) {
  margin-left: 25px;
}
.ranks-header h4:nth-child(3),
.table-data p:nth-child(3) {
  max-width: 80px;
}
.result-container button {
  height: 45px;
  width: 100px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #0011ff;
  margin-top: 20px;
  opacity: 0.9;
  border-radius: 5px;
}
.result-container button:hover {
  opacity: 1;
}

.result h1 span {
  font-size: 50px;
}
.result h3 span {
  font-size: 25px;
}
.low {
  color: #ff6a00;
}
.normal {
  color: #40c104;
}
.above {
  color: #c7d504;
}
.high {
  color: #ff6a00;
}
.very-high {
  color: #f90000;
}
